@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: white;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler{
    background-color: #ffeae6;
}
.section-title {
    font-family: 'Pacifico', cursive;
}

#sobre-o-restaurante {
    background-color: #ffeae6;
}
.text-colored {
    color: #e15f41;
}