*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    max-width: 1366px;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    padding-left: 35%;
}
.container h2 {
    text-align: center;
    font-size: 32px;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
}
.form-campo {
    margin-bottom: 16px;
}
.form-campo label {
    font-weight: bold;
    display: block;
}
.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
    border-radius: 4px;
}
button {
    max-width: 120px;
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 8px;
}
button:hover {
    background-color: rgb(23, 23, 196);
}