*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

header .container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li a {
    color: white;

}
body > header {
    background-color: cadetblue;
    padding: 16px 0;
}
.container1 {
    width: 1336px;
    margin: 0 auto 0 auto;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article img {
    height: 180px;
}

.artigos article {
    width: 30%;
}
section {
    padding: 16px 0;
}
section h2, .artigos article {
    margin-bottom: 16px;
}
.artigos article h3 {
    margin-top: 16px;
    margin-bottom: 10px;
}
.artigos article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
}
/* h1 serve para colocar em todos os titulos
# + id para um item especifico
class para varios itens .class
* é tudo oq n tiver ja com informação */